    		<table class="table table-hover table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                     	<th class="text-center col-md-1" id="posicion">#</th>
                        <th class="text-center col-md-2" id="nombre">Fecha</th>
                        <th class="text-center col-md-1" id="cantidad">Monto</th>
                    </tr>
                </thead>
                <tbody>
               {% for prod in resultados %}
                    <tr>
                        <td class="texto-centrado" headers="posicion">
                            {% include 'paginador_index.html.twig'  with  {'index': loop.index, 'pagina_actual': paginador.pagina_actual, 'tamanio_paginas': paginador.tamanio_paginas } %}
                        </td>
                        <td class="text-center" headers="nombre"> {{ prod.fecha }} </td>
                        <td class="text-center" headers="cantidad"> {{ prod.monto }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
