.ui-datepicker-calendar {
    background-color: white;
}
.ui-datepicker-header {
    background-color: buttonface;
}
legend > div{
    padding: 0px !important;
}
.td-accion{
    background-color: #d9534f;
    padding: 0px !important;
}
.td-accion a{
    width: 100% !important;
}

form p.nueva-venta{
    background-color: #d0ccc7;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border: 1px solid rgb(200,197,194);
}